.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.w-\[95\%\] {
  width: 95%
}

.w-full {
  width: 100%
}

.max-w-\[1440px\] {
  max-width: 1440px
}

.max-w-\[1740px\] {
  max-width: 1740px
}

.max-w-\[1920px\] {
  max-width: 1920px
}

.overflow-hidden {
  overflow: hidden
}

@media (max-width: 1440px) {
  .max-\[1440px\]\:w-\[95\%\] {
    width: 95%
  }
}

@media (max-width: 1024px) {
  .max-\[1024px\]\:w-\[95\%\] {
    width: 95%
  }

  .max-\[1024px\]\:max-w-full {
    max-width: 100%
  }
}